@use '_variables' as *;

.container {

    position: absolute;

    width: 100vw - $sidebarWidth;
    left: $sidebarWidth;
    height: $navbarHeight;

    padding: 0 2rem;
    display: flex;
    z-index: -1;

    background: var(--primary-background);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .modules {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .add {
            cursor: pointer;
            color: var(--primary-text);
            font-size: 1.5rem;
            margin-right: 1rem;

            padding: .5rem .8rem;
            border-radius: 10px;
            background-color: var(--secondary-background-lighten-5);
        }
    }
}

.separator {

    $separatorWidth: 79vw;

    position: absolute;

    top: $navbarHeight - 1vh;
    left: calc((100vw - $separatorWidth + $sidebarWidth) / 2); 
    width: $separatorWidth;
    height: 3px;

    z-index: 1;
    
    background: var(--secondary-background);
    opacity: 0.8;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}