@use '_variables' as *;

.container {

    position: absolute;

    width: $sidebarWidth;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 3vh 0 5vh 1vw;
    background: $secondaryBackground;

    .logo {
        width: 80%;
        margin-bottom: 8vh;
        opacity: 0.6;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    h1 {
        color: $primaryText;
        font-family: $fontFamily;
        font-size: 0.65vw;
        padding: 1rem;
    }

    a {
        color: $secondaryText;
        font-family: $fontFamily;
        padding: 1rem;
        font-weight: 700;
        font-size: 0.8vw;

        transition: .1s linear;

        &:hover {
            color: $primaryText;
        }
    }

}