// sizes
$navbarHeight: 10vh;
$sidebarWidth: 15vw;

// colors
    // background
$primaryBackground: #1b1c30;
$secondaryBackground: #23243d;
    // text
$primaryText: #d9dae5;
$secondaryText: #757487;
$fontFamily: "Tw Cen MTStd", sans-serif;
    // border