@use '_variables' as *;

$borderRadius: 10px;

.react-select-container {

    border-radius: 5px;

    .react-select__control {

        background-color: var(--secondary-background);
        border: none;
        border-radius: $borderRadius;

        .react-select__value-container {

            border-radius: $borderRadius;

            background-color: var(--secondary-background);

            .react-select__placeholder {
                color: var(--primary-text);
                background-color: var(--secondary-background);

            }

            .react-select__value {
                
                border-radius: 5px;

                color: var(--primary-text);
                background-color: var(--secondary-background);
            }
        }
    }

    .react-select__menu {

        background-color: var(--secondary-background);

        .react-select__menu-list {
                
                .react-select__option {
                    color: var(--primary-text);

                    &:hover {

                        background-color: var(--primary-background);
                    }
                }
        }
    }
}

.react-select__single-value {
    color: var(--primary-text) !important;
}