.container {

    display: flex;
    padding: 1.5vw;
    width: 70%;

    input {

        width: 90%;
        border: none;
        // border-radius: 5px;
        background: var(--primary-background);
        color: #d9dae5;
        font-family: "Tw Cen MTStd", sans-serif;
        font-size: 0.8vw;
        font-weight: 700;

        &:focus {
            outline: none;
        }
        
        &::-webkit-input-placeholder {
            color: #757487;
            font-family: "Tw Cen MTStd", sans-serif;
            font-size: 0.8vw;
        }

    }
    
    label {

        cursor: pointer;

        svg { 
            width: 1vw;
            fill: #757487; 
        }
    }
    
}