@use '_variables' as *;

.container {


    display: flex;
    justify-content: center;

    color: white;
    flex-direction: column;
    user-select: none;

    form {

        padding: 1.5rem;
        border-radius: 10px;
        background: $primaryBackground;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div[role="group"] {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            label {
                margin: 0 .5rem;
            }
            
            input[type="radio"] {
                display: none;

                & + span { 
                    cursor: pointer;
                    color: gray; 
                }

                &:checked + span{
                    color: white;
                }
            }
        }

        .error {
            color: rgb(255, 85, 85);
            font-size: .8rem;
            transform: translateY(-1rem);
        }


        button {

            margin-top: 1rem;
            border: none;
            // box-shadow: 0 0 5px 5px rgba(black, .1);
            cursor: pointer;
            background-color: #b383f6;
            color: white;
            font-size: 1rem;
        }
    
        label, input{

            display: flex;
            margin-bottom: 5px;
        }
    
        label {
            font-size: clamp(1rem,1vw,4rem);
        }
    
        input {

            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
            outline: none;
            border: none;
        }
    
        input, button {
            padding: 0.8vw;
            border-radius: 10px;
            box-sizing: border-box;
        }
    }

    a {
        font-size: 1vw;
        white-space: nowrap;
        cursor: pointer;
        color: #00c4ff;
    }
}
