@use '_variables' as *;
@use 'sass:color' as color;

.container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;

    height: 7vh;

    background-color: var(--secondary-background);

    color: var(--secondary-text);

    opacity: 0;
    animation: slideIn 0.9s ease-in-out forwards 0.2s;
    transition: .2s linear;

    &:hover {

        background-color: var(--secondary-background-lighten-5);

        .name {
            color: rgba(var(--primary-text), 1);
        }
    }

    .name {

        color: rgba(var(--primary-text), 0.8);
        font-weight: 700;
    }

    .type {

        color: black;
        font-weight: 800;
        font-size: .8rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;

        &.joueur {
            background-color: #8dc99b;
        }

        &.accompagnant {
            background-color: #e7d074;
        }
    }
}



@keyframes slideIn {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}