@use '_variables' as *;

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    color: var(--primary-text);

    .header {

        font-size: 1.5rem;

        position: absolute;
        top: 3%;
        right: 5%;
        display: flex;

        a {

            cursor: pointer;
            margin: 0 1rem;
        }
    }

    .infos {

        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        section {

            display: flex;
            flex-direction: column;
            justify-content: center;

            margin: 0 2rem;

            &.photo {

                display: flex;
                justify-content: center;
                align-items: center;
                
                img { 
                    width: 10vw;
                }
            }

            &.description {
                width: 30%;

                &:before {

                    content: '“';
                    z-index: -1;

                    top: 8%;
                    transform: translateX(-1rem);
                    position: absolute;
                    font-size: 10rem;

                    color: var(--primary-background);

                    font-family: 'Arimo', Times, serif;
                    font-weight: bolder;
                }

                &:after {

                    content: '”';
                    z-index: -1;

                    top: 22%;
                    transform: translateX(600%);
                    position: absolute;
                    font-size: 10rem;

                    color: var(--primary-background);

                    font-family: 'Arimo', Times, serif;
                    font-weight: bolder;
                }
            }

            &.utils {

                div, h1 {
                    z-index: 1;
                }

                .classementATP {

                    z-index: 0;

                    position: absolute;
                    transform: translateY(-4rem);
                    color: var(--primary-background);
                    font-size: 5rem;
                    font-family: "Poppins";
                    font-weight: bolder;
                }

                .priseEnCharge {

                    span {
                        color: green;
                        font-weight: bold;
                    }
                }

                .accompagnant, .accompagne a {

                    margin: .2rem;
                    padding: .2rem .5rem;
                    border-radius: .3rem;
                    background: var(--primary-background);

                    transition: .2s linear;

                    &:hover {

                        background: var(--primary-text);
                        color: var(--primary-background);
                    }
                }
                
            }
        }

        .separator {
            width: 3px;
            height: 15vh;
            background: var(--primary-background);
            border-radius: 10px;
            margin: 0 2rem;
        }
    }

    .separator {
        width: 60vw;
        height: 3px;
        background: var(--primary-background);
        border-radius: 10px;
        margin: 2rem;
    }

    .suivisContainer {

        display: flex;
        justify-content: space-between;
        width: 100%;

        margin-left: -2rem;

        .separator {

            width: 3px;
            height: 15vh;
            background: var(--primary-background);
            border-radius: 10px;
            margin-right: 3.5rem;
        }
    }


}