@use '_variables' as *;
@use 'sass:color' as color;



.container {

    // * { border: 1px solid red}

    cursor: pointer;

    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;

    // height: 5vh;

    background-color: var(--secondary-background-lighten-5);

    color: var(--secondary-text);

    opacity: 0;
    animation: slideIn 0.9s ease-in-out forwards 0.2s;
    transition: .2s linear;

    &:hover {

        background-color: var(--secondary-background-lighten-10);

        .name {
            color: rgba(var(--primary-text), 1);
        }
    }

    .content {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        transition: .2s linear;

        .delete {
            
            border-radius: 0.5rem;
            background-color: var(--secondary-background);
            color: var(--primary-text);
            font-size: 0.9rem;
            cursor: pointer;
            transition: .2s linear;
            margin-bottom: 0.5rem;
            font-family: $fontFamily;

            &:hover {
                background-color: var(--primary-background);
                color: var(--primary-text);
            }
        }
    }

}

.container summary {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > div {
        display: flex;
        justify-content: center;
        width: 30%;
    }


    .name {

        justify-content: flex-start;
        color: rgba(var(--primary-text), 0.8);
        font-weight: 700;
    }

    .typeContainer {

        justify-content: flex-end;

        .type {
    
            color: black;
            font-weight: 800;
            font-size: .8rem;
            padding: 0.2rem 1rem;
            border-radius: 10px;
    
            &.echange {
                background-color: #8dc99b;
            }
    
            &.action {
                background-color: #e7d074;
            }
        }
    }
}



@keyframes slideIn {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}